/*html {
  font-size: 14px;
}*/

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

/*html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}*/

/*СТИЛИ АНИ*/

html {
    box-sizing: border-box;
    height: 100%;
}

 *, *::before, *::after{
    box-sizing: inherit;
} 

:root {
    --font-family: "Open Sans", sans-serif;
}

.wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

body {
    height: 100%;
    font-family: sans-serif;
    font-style: normal;
    margin: 0;
    overflow-x: hidden;
    /*margin-bottom: 60px;*/
}

button {
    background-color: transparent;
    border: 0;

}

img {
    max-width: 100%;
    height: auto;
}

main {
    padding-top: 78px;
    flex: 1 1 auto;
}

/* Header styles start*/

.header-rent {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: white;
    padding-top: 23px;
    padding-bottom: 22px;
    z-index: 1;
}

.header-rent-nav {
    max-width: 1800px;
    margin: 0 auto;
}

.header-rent-container {
    display: flex;
    flex-wrap: wrap;
    align-items: first baseline;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
}

h1 {
    text-decoration: none;
}

.header-rent-logo-link {
    padding-left: 20px;
    text-decoration: none;
}

.header_logo_pic {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 27px;
    letter-spacing: 1.05em;
    color: #116466;
    text-decoration: none;
    margin-bottom: 0;
}

.header-rent-nav-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-rent-list {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    align-items: center;
    margin-bottom: 0;
    padding-left: 0;
}

.header-nav-item {
    margin-right: 65px;
    text-decoration: none;
}

.header-rent-link {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 21px;
    letter-spacing: 0.05em;
    color: #000;
    text-decoration: none;
}

.header-rent-link:hover {
    color: rgba(0, 0, 0, 0.6);
    text-decoration: none;
}

.header-rent-link:active {
    color: rgba(0, 0, 0, 0.6);
    text-decoration: none;
}

/*.header-rent-link_white:hover, .header_link_white:focus, .header_link_white:active {
    color: rgba(255, 255, 255, 0.781);
}*/
.header_container {
    display: flex;
    flex-wrap: wrap;
    align-items: first baseline;
    justify-content: space-between;
}

.header_list {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
}

.header_item {
    margin-right: 65px;
}

.header_item:last-child {
    margin-right: 0;
}

.header_link {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 21px;
    letter-spacing: 0.05em;
    color: #000;
    text-decoration: none;
}

.header_link_white {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 21px;
    letter-spacing: 0.05em;
    color: white;
    text-decoration: none;
}

.header_link:hover, .header_link:focus, .header_link:active {
    opacity: .75;
}

.header_link_white:hover, .header_link_white:focus, .header_link_white:active {
    color: rgba(255, 255, 255, 0.781);
}

.burger {
    position: relative;
    display: none;
    border: 2px solid #116466;
    border-radius: 5px;
    width: 30px;
    height: 30px;
    cursor: pointer;
    margin-right: 20px;

}

.burger-line {
    position: absolute;
    left: 5px;
    right: auto;
    top: 50%;
    width: 16px;
    height: 2px;
    background-color: #116466;
    transform: translateY(-50%);
    transition: opacity 0.3s ease-in-out;
}

.burger::before {
    top: 25%;
    content: '';
    position: absolute;
    left: 5px;
    width: 16px;
    height: 2px;
    background-color: #116466;
    transition: transform 0.3s ease-in-out, top 0.3s ease-in-out, bottom 0.3s ease-in-out;
}

.burger::after {
    bottom: 25%;
    content: '';
    position: absolute;
    left: 5px;
    width: 16px;
    height: 2px;
    background-color: #116466;
    transition: transform 0.3s ease-in-out, top 0.3s ease-in-out, bottom 0.3s ease-in-out;
}

.burger-active .burger-line {
    opacity: 0;
}

.burger-active::before {
    top: 50%;
    transform: rotate(45deg);
}

.burger-active::after {
    bottom: auto;
    top: 50%;
    transform: rotate(-45deg);
}

/*.stop-scroll {
    overflow: hidden;
}*/

/* Header styles end*/

/* Intro styles start*/

.intro {
    min-height: 750px;
    width: auto;
    background: url(../img/Home/intro_bg.jpg) no-repeat fixed;
    background-size: cover;
    padding-top: 273px;
}

.intro_title {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 45px;
    letter-spacing: 0.05em;
    text-align: center;
    color: #fff;
    margin-bottom: 35px;
    margin-left: auto;
    margin-right: auto;
}

.intro_subtitle {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 23px;
    letter-spacing: 0.05em;
    text-align: center;
    color: #fff;
    margin-left: auto;
    margin-right: auto;
}

/* Intro styles start*/

/* Benefits styles start*/


.benefits {
    position: relative;
}

.benefits_container {
    position: absolute;
    top: -126px;
    left: 50%;
    transform: translateX(-50%);
    max-width: 1122px;
    min-height: 640px;
    width: 100%;
    background-color: #116466;
    padding-top: 41px;
    padding-left: 67px;
    padding-right: 67px;
    padding-bottom: 40px;
}

.benefits_title {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 30px;
    letter-spacing: 0.05em;
    text-align: center;
    color: #fff;
}

.benefits_cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 29px;
    justify-items: center;
    padding-top: 35px;
}

.benefits_card {
    text-align: center;
    max-width: 310px;
}

.benefits_card-pic {
    max-width: 110px;
    margin-bottom: 35px;
    margin-left: auto;
    margin-right: auto;
}


.benefits_card-title {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 25px;
    letter-spacing: 0.05em;
    text-align: center;
    color: #fff;
}




/*.benefits_container {
    max-width: 1122px;
    background-color: #116466;
    margin: 0 auto;
    position: relative;
}

.benefits_title {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 30px;
    letter-spacing: 0.05em;
    text-align: center;
    color: #fff;
    padding-top: 41px;
    padding-bottom: 44px;
    padding-left: 387px;
    padding-right: 388px;
    position: absolute;
    top: 0;
    left: 0;
    transform: translateY(-100%);
    background-color: #116466;
    margin: 0;
}

.benefits_cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 31px;
    padding-left: 67px;
    padding-right: 67px;
    padding-top: 0;
    padding-bottom: 68px;
}

.benefits_card {
    grid-column: span 1;
}

.benefits_card-pic {
    max-width: 110px;
    margin-bottom: 35px;
    margin-left: auto;
    margin-right: auto;
}

.benefits_card-thumb {
    display:block;
}

.benefits_card-title {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 25px;
    letter-spacing: 0.05em;
    text-align: center;
    color: #fff;
}*/


.benefits-new {

}

.benefits-new-container {
    padding: 20px;
    margin-bottom: 20px;
    margin-top: 20px;
    background-color: #116466;
    max-width: 988px;
    margin-left: auto;
    margin-right: auto;
}

.benefits-new-title {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 25px;
    letter-spacing: 0.05em;
    text-align: center;
    color: #fff;
}

.benefits-new-cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 29px;
    justify-items: center;
    padding-top: 35px;
}

.benefits-new-card {
    text-align: center;
    max-width: 310px;
}

.benefits-new-card-last {
    text-align: center;
    max-width: 310px;
}

.benefits-new-card-pic {
    max-width: 110px;
    margin-bottom: 35px;
    margin-left: auto;
    margin-right: auto;
}

.benefits-new-card-thumb {
    cursor: pointer;
}

.benefits-new-card-title {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 20px;
    letter-spacing: 0.05em;
    text-align: center;
    color: #fff;
}

.benefits-new-modal-title {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 32px;
    letter-spacing: 0.05em;
    color: #2C3531;
}

.benefits-new-modal-txt {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 0.05em;
    color: #2C3531;
}

.benefits-new-modal-esc-btn {
    background-color: #116466;
    border: 1px solid #ccc;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 14px;
    letter-spacing: 0.05em;
    color: white;
}

.benefits-new-modal-next-btn {
    background-color: #D1E8E2;
    border: 1px solid #ccc;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 14px;
    letter-spacing: 0.05em;
    color: #2c3531;
}







/* Benefits styles end*/

.carousel {
    position: relative;
    max-width: 1098px;
    min-height: 669px;
    /*padding: 10px 40px;*/
    padding-top: 86px;
    padding-bottom: 86px;
    padding-left: 45px;
    padding-right: 45px;
    margin-top: 600px;
    margin-left: auto;
    margin-right: auto;
}

.slider_card {
    background-color: #D9B08C;
}

.slider_title {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 35px;
    letter-spacing: 0.05em;
    text-align: center;
    margin-bottom: 0;
    color: #2c3531;
}

.slider_body {
    display: flow-root;
    padding-top: 14px;
    padding-bottom: 26px;
    padding-left: 26px;
    padding-right: 25px;
}

.slider_txt {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 21px;
    letter-spacing: 0.05em;
    text-align: center;
    color: #2c3531;
}

.carousel-img {
        
    width: auto;
    height: auto;
    padding-left: 10px;
    padding-right: 10px;
}

/*.arrow {
    position: absolute;
    top: 60px;
    padding: 0;
    background: #ddd;
    border-radius: 15px;
    border: 1px solid gray;
    font-size: 24px;
    line-height: 24px;
    color: #444;
    display: block;
}

.arrow:focus {
    outline: none;
}

.arrow:hover {
    background: #ccc;
    cursor: pointer;
}

.prev {
    left: 7px;
}

.next {
    right: 7px;
}*/

.arrow-prev {
    margin-top: 226px;
    margin-bottom: 226px;
    height: 45px;
    width: 45px;
    position: absolute;
    top: 60px;
    padding: 0;
    display: block;
    left: 7px;
}

.arrow-next {
    margin-top: 226px;
    margin-bottom: 226px;
    height: 45px;
    width: 45px;
    position: absolute;
    top: 60px;
    padding: 0;
    display: block;
    right: 7px;
}


.gallery {
    width: 1008px;
    height: 497px;
    overflow: hidden;
}

.gallery ul {
  height: 130px;
  width: 9999px;
  margin: 0;
  padding: 0;
  list-style: none;
  transition: margin-left 250ms;
  font-size: 0;
}

.gallery li {
  display: inline-block;
}

.faq {
    
}

.faq-container {
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: #D1E8E2;
    max-width: 988px;
    margin-left: auto;
    margin-right: auto;
}

.faq-question {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 25px;
    letter-spacing: 0.05em;
    color: #2C3531;
}

.faq-answer {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 18px;
    letter-spacing: 0.05em;
    color: #2C3531;
}



.contacts {
    min-height: 506px;
    width: auto;
    background-color: #D1E8E2;
    background-size: cover;
    padding-top: 48px;
}

.contacts-container {
    /*max-width: 755px;*/
    margin-left: 226px;
    margin-right:226px;
}

.contacts-map-size {
    width: 560px;
    height: 400px;
}

.contacts-title {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 35px;
    letter-spacing: 0.05em;
    color: #2c3531;
    margin-top: 0;
    margin-bottom: 44px;
}

.contacts-address {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 25px;
    letter-spacing: 0.05em;
    color: #2c3531;
    margin-top: 0;
    margin-bottom: 30px;
}

.contacts-subtitle {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 21px;
    letter-spacing: 0.05em;
    color: #2c3531;
    margin-top: 0;
    margin-bottom: 11px;
}

.contacts-info-tel {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 25px;
    letter-spacing: 0.05em;
    color: #2c3531;
    margin-top: 0;
    margin-bottom: 41px;
}

.contacts-info-mail {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 25px;
    letter-spacing: 0.05em;
    color: #2c3531;
    margin-top: 0;
    margin-bottom: 32px;
}

.contacts-icons {
    margin-top: 0;
    padding-bottom: 26px;
}

.contacts-icon {
    width: 40px;
    height: 40px;
}



.contacts-form {
    min-height: 600px;
    width: auto;
    background-color: #2C3531;
    background-size: cover;
/*    padding-top: 48px;*/
}

.contacts-form-container {
    max-width: 988px;
    margin-left: auto;
    margin-right:auto;
    /*margin-left: 226px;
    margin-right: 226px;*/
}

.contacts-form-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /*grid-column-gap: 29px;*/
    justify-items: center;
    padding-top: 54px;
}

.contacts-form-block {

}

.contacts-form-pic {
    width: 484px;
    height: 491px;
}

.contacts-form-title {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 35px;
    letter-spacing: 0.05em;
    text-align: center;
    color: #fff;
}

.contacts-form-areas {
    text-align: center;
}

.contacts-form-group {
    margin-bottom: 10px;
}

.contacts-form-label {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 13px;
    letter-spacing: 0.05em;
    color: white;
}

.contacts-form-input {
    border: 3px solid #116466;
    border-radius: 10px;
    width: 316px;
    height: 49px;
    background: #d1e8e2;
}

.contacts-form-input::placeholder {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 15px;
    letter-spacing: 0.05em;
    color: #000;
    opacity: 0.35;
}

.contacts-form-input-area {
    border: 3px solid #116466;
    border-radius: 10px;
    width: 316px;
    height: 87px;
    background: #d1e8e2;
}

.contacts-form-input-area::placeholder {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 15px;
    letter-spacing: 0.05em;
    color: #000;
    opacity: 0.35;
}

.contacts-form-btn {
    border: 3px solid #116466;
    width: 148px;
    height: 49px;
    background: #d1e8e2;
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 15px;
    letter-spacing: 0.05em;
    text-align: center;
    color: #2c3531;
}

.service-title-section {
    min-height: 113px;
    width: auto;
    background-color: white;
    background-size: cover;
    padding-top: 48px;
}

.service-title-container {
    margin-left: 226px;
    margin-right: 226px;
}

.service-title-h1 {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 35px;
    letter-spacing: 0.05em;
    color: #2c3531;
}

.add-service {
    min-height: 1126px;
    width: auto;
    background-color: #2C3531;
    background-size: cover;
    padding-top: 14px;
    padding-bottom: 31px;
}

.add-service-container {
    margin-left: 226px;
    margin-right: 226px;
}

.add-service-title-block {

}

.add-service-title {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 25px;
    letter-spacing: 0.05em;
    color: #fff;
    margin-bottom: 0;
}

.add-service-products {

}

.add-service-products-block {

}

.add-service-products-grid {
    display: grid;
    grid-template-columns: 232px 168px auto;
    grid-column-gap: 21px;
    justify-items: center;
    padding-top: 31px;
}

.add-service-pic {
    width: 232px;
    height: 232px;
}

.add-service-products-title-grid {

}

.add-service-products-title {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 23px;
    letter-spacing: 0.05em;
    text-align: center;
    color: #fff;
    margin-top: 16px;
}

.add-service-products-subtitle {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 15px;
    letter-spacing: 0.05em;
    text-align: center;
    color: #fff;
    margin-top: 39px;
}

.add-service-products-text {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 15px;
    letter-spacing: 0.05em;
    color: #fff;
    margin-bottom: 0;
}

.types-service {
    min-height: 1126px;
    width: auto;
    background-color: white;
    background-size: cover;
    padding-top: 14px;
    padding-bottom: 31px;
}

.types-service-container {
    margin-left: 226px;
    margin-right: 226px;
}

.types-service-title-block {

}

.types-service-title {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 25px;
    letter-spacing: 0.05em;
    color: #2c3531;
    margin-bottom: 0;
}

.types-service-products {

}

.types-service-products-block {

}

.types-service-products-grid {
    display: grid;
    grid-template-columns: 232px 168px auto;
    grid-column-gap: 21px;
    justify-items: center;
    padding-top: 31px;
}

.types-service-pic {
    width: 232px;
    height: 232px;
}

.types-service-products-title {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 23px;
    letter-spacing: 0.05em;
    color: #2c3531;
    text-align: center;
    margin-top: 16px;
    width: 148px;
}

.types-service-products-title-grid {
    justify-items: center;
}

.types-service-btn {
    border: 3px solid #116466;
    width: 148px;
    height: 49px;
    background: #d1e8e2;
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 15px;
    letter-spacing: 0.05em;
    text-align: center;
    color: #2c3531;
    margin-bottom: 91px;
}

.types-service-products-text {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 15px;
    letter-spacing: 0.05em;
    color: #2c3531;
    margin-bottom: 0;
}

.entrance-title-section {
    min-height: 113px;
    width: auto;
    background-color: white;
    background-size: cover;
    padding-top: 48px;
    text-align: center;
}

.entrance-title-container {
    margin-left: auto;
    margin-right: auto;
}

/*.entrance-form-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: left;*/
/*    padding-top: 31px;*/
/*}*/

/*.entrance-form-grid-block {

}*/

.entrance-title-h1 {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 35px;
    letter-spacing: 0.05em;
    color: #2c3531;
}

.entrance-form {
    /*height: inherit;*/
    /*min-height: 700px;*/
    width: auto;
    background-color: white;
    background-size: cover;
    padding-top: 48px;
    padding-bottom: 48px;

}

.entrance-form-container {
    margin-left: auto;
    margin-right: auto;
    align-items: center;
}

.login-form {
    text-align: center;
}

.entrance-form-group {
    margin-bottom: 15px;
}

.entrance-form-group2 {
    margin-bottom: 15px;
}

.entrance-form-input {
    border: 3px solid #116466;
    border-radius: 10px;
    width: 316px;
    height: 49px;
    background: #d1e8e2;
    
}

.entrance-checkbox {
    position: relative;
    margin-bottom: 15px;
}

.entrance-checkbox-input {
    position: absolute;
    z-index: -1;
    opacity: 0;
}

.entrance-checkbox-input+label {
    user-select: none;
    display: inline-flex;
    align-items: center;
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 15px;
    letter-spacing: 0.05em;
    color: #2c3531;
}

.entrance-checkbox-input+label::before {
    content: '';
    display: inline-block;
    flex-shrink: 0;
    flex-grow: 0;
    border: 1px solid #2c3531;
    border-radius: 4px;
    top: 0;
    left: 0;
    width: 24px;
    height: 24px;
    background: #fff;
    margin-right: 0.5em;
    background-repeat: no-repeat;
    background-position: center center;
}

/*стиль при активном чекбоксе*/
.entrance-checkbox-input:checked + label::before {
    border-color: #116466;
    background-color: #d1e8e2;
    background-image: url(../img/Entrance/check.svg);
}

/*стиль при наведении курсора на чекбокс*/
.entrance-checkbox-input:not(:disabled):not(:checked)+label:hover::before {
    border-color: #116466;
    background-color: #d1e8e2;
}

.entrance-form-btn {
    border: 3px solid #116466;
    width: 148px;
    height: 49px;
    background: #d1e8e2;
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 15px;
    letter-spacing: 0.05em;
    text-align: center;
    color: #2c3531;
}

.forgot-password-container {
    margin-top:15px;
}

.entrance-forgot-password {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 15px;
    letter-spacing: 0.05em;
    color: #2c3531;
    text-decoration: none;
}

.entrance-forgot-password:hover {
     color: #FFCB9A;
}

.entrance-ent-to-reg-title {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 20px;
    letter-spacing: 0.05em;
    text-align: center;
    color: #fff;
    margin-top: 10px
}

.entrance-form-text {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 15px;
    letter-spacing: 0.05em;
    text-align: center;
    color: #2c3531;
    text-decoration: none;
}

.entrance-form-text:hover {
    color: #FFCB9A;
}

.register-title-section {
    min-height: 113px;
    width: auto;
    background-color: white;
    background-size: cover;
    padding-top: 48px;
    text-align: center;
}

.register-title-container {
    margin-left: auto;
    margin-right: auto;
}

.register-title-h1 {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 35px;
    letter-spacing: 0.05em;
    color: #2c3531;
}

.register-form {
    height: inherit;
    /*min-height: 700px;*/
    width: auto;
    background-color: white;
    background-size: cover;
    padding-top: 15px;
    padding-bottom: 48px;
}

.register-form-container {
    width: 316px;
    margin-left: auto;
    margin-right: auto;
}

.reg-form {
    text-align: center;
}

.register-form-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: left;
}

.register-form-grid-block {

}

.register-text {
    text-align: center;
    /*max-width: 550px;*/
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 15px;
    letter-spacing: 0.05em;
    color: #2C3531;
}

.register-form-group {

}

.register-form-label-container {
    margin-bottom: 5px;
}

.register-form-label {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 13px;
    letter-spacing: 0.05em;
    color: #2c3531;
}

.register-form-input {
    border: 3px solid #116466;
    border-radius: 10px;
    width: 316px;
    height: 49px;
    background: #d1e8e2;
}

.register-form-btn-container {
    margin-top: 20px;
    margin-bottom: 15px;
}

.register-form-btn {
    border: 3px solid #116466;
    width: 148px;
    height: 49px;
    background: #d1e8e2;
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 15px;
    letter-spacing: 0.05em;
    text-align: center;
    color: #2c3531;
}

.register-reg-to-ent-title {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 23px;
    letter-spacing: 0.05em;
    text-align: center;
    color: #2C3531;
}

.register-form-text {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 15px;
    letter-spacing: 0.05em;
    text-align: center;
    color: #2C3531;
    text-decoration: none;
}

.register-form-text:hover {
    color: #FFCB9A;
}

.rent-title-section {
    min-height: 113px;
    width: auto;
    background-color: white;
    background-size: cover;
    padding-top: 48px;
}

.rent-title-container {
    margin-left: 226px;
    margin-right: 226px;
}

.rent-title-h1 {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 35px;
    letter-spacing: 0.05em;
    color: #2c3531;
}

.rent {
    background: #e8e8e8;
}

.rent-container {
    margin-left: 226px;
    margin-right: 226px;
}

.rent-filters {
    padding-bottom: 20px;
}

.rent-filters-container {
    margin-left: 226px;
    margin-right: 226px;
}

.rent-filter-label {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 18px;
    letter-spacing: 0.05em;
    color: #2c3531;
}

.filter-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 20px;
}

.filter-container label {
    margin-right: 5px;
}

.filter-container select,
.filter-container button {
    padding: 5px;
    /* border-radius: 5px; */
    border: 1px solid #ccc;
}


.calc-select {
    text-align: center;
}

.calc-select select,
.calc-select button,
.calc-select input {
    padding: 5px;
    border: 1px solid #ccc;
}

.calc-form-div {
    margin-bottom: 10px;
}

.calc-result-div {
    text-align: center;
    margin-top: 10px;
}

.calc-result {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 18px;
    letter-spacing: 0.05em;
    color: #116466;
}

/*НАЧАЛО СТИЛЕЙ ВКЛАДОК*/

.tabs-container {
    margin: 1rem;
    padding: 1.5rem;
    border: 1px solid #D1E8E2;
    border-radius: 0.375rem;
}

.tab {
    display: flex;
    flex-direction: column;
}

.tab-nav > input[type="radio"] {
    display: none;
}

.tab-content {
    display: none;
}

#content-1:has(~ .tab-nav > #tab-btn-1:checked),
#content-2:has(~ .tab-nav > #tab-btn-2:checked) {
    display: block;
}

.tab-nav {
    display: flex;
    flex-wrap: wrap;
    border-bottom: 1px solid #D1E8E2;
    margin-bottom: 1rem;
    order: -1;
}

.tab-nav > label {
    display: block;
    padding: 0.5rem 1rem;
    color: #116466;
    text-decoration: none;
    background: 0 0;
    border: 1px solid transparent;
    margin-bottom: -1px;
    border-top-left-radius: 0.375rem;
    border-top-right-radius: 0.375rem;
    -webkit-appearance: button;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;
}

.tab-nav > input[type="radio"]:checked + label {
    color: #000;
    background-color: #fff;
    border-color: #D1E8E2 #D1E8E2 #fff;
    cursor: default;
}

.tabs-label {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 16px;
    letter-spacing: 0.05em;
    color: #2C3531;
}

/*КОНЕЦ СТИЛЕЙ ВКЛАДОК*/

.rent-switch-container {
    padding-top: 33px;
    padding-bottom: 33px;
    text-align: center;
}

.rent-switch-label {
    display: inline-block;
    position: relative;
    width: 48px;
    height: 24px;
}

.rent-switch-input {
    height: 0;
    width: 0;
    opacity: 0;
}

.rent-switch-slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    border-radius: 12px;
    background-color: #116466;
    transition: 0.4s;
}

.rent-switch-slider::before {
    content: "";
    position: absolute;
    cursor: pointer;
    left: 4px;
    bottom: 4px;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: white;
    transition: 0.4s;
}

.rent-switch-input:focus + .rent-switch-slider {
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

.rent-switch-input:checked + .rent-switch-slider {
    background-color: #116466;
}

.rent-switch-input:checked + .rent-switch-slider:before {
    transform: translateX(24px);
    -webkit-transform: translateX(24px);
    -ms-transform: translateX(24px);
}

.rent-switch-text {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 17px;
    letter-spacing: 0.05em;
    text-align: right;
    color: #000;
/*    cursor: pointer;*/
}

.rent-list-view {

}

.rent-list-container {
    padding-top: 30px;
    padding-bottom: 30px;
}

.rent-list-grid {
    display: grid;
    grid-template-columns: 240px auto 260px 150px;
/*    justify-items: center;*/
    column-gap: 20px;
    row-gap: 50px;
    padding-bottom: 30px;

}

.rent-list-grid-block1 {
    align-self: center;
    text-align: center;
}

.rent-list-grid-block2 {

}

.rent-list-grid-block3 {
    align-self: center;
    text-align: center;
}

.rent-list-grid-block4 {
    align-self: center;
    text-align: center;
}

.rent-list-pic {
    width: 232px;
    height: 232px;
}

.rent-list-h2 {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 23px;
    letter-spacing: 0.05em;
    color: #000;
}

.rent-list-description {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 15px;
    letter-spacing: 0.05em;
    color: #292d32;
}

.rent-list-facts {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 16px;
    letter-spacing: 0.05em;
    text-align: center;
    color: #292d32;
}

.rent-list-status {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 16px;
    letter-spacing: 0.05em;
    text-align: center;
    color: #292d32;
}

/*.rent-list-status-rented {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 16px;
    letter-spacing: 0.05em;
    text-align: center;
    color: #292d32;
    background-color: #F2A6A6;
}

.rent-list-status-not-rented {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 16px;
    letter-spacing: 0.05em;
    text-align: center;
    color: #292d32;
    background-color: #D1E8E2;
}*/

.rent-list-btn-details {
    border: 3px solid #2c3531;
    width: 148px;
    height: 49px;
    background: #116466;
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 15px;
    letter-spacing: 0.05em;
    text-align: center;
    color: #ffcb9a;
    margin-top: 5px;
    margin-bottom: 5px;
}

.rent-list-btn {
    border: 3px solid #116466;
    width: 148px;
    height: 49px;
    background: #d1e8e2;
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 15px;
    letter-spacing: 0.05em;
    text-align: center;
    color: #2c3531;
    margin-top: 5px;
    margin-bottom: 5px;
}

.rent-list-btn-disabled {
    border: 3px solid #292D32;
    width: 148px;
    height: 49px;
    background: #E8E8E8;
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 15px;
    letter-spacing: 0.05em;
    text-align: center;
    color: #2c3531;
    margin-top: 5px;
    margin-bottom: 5px;
}

.rent-card-view {
    text-align: center;
    padding-top: 27px;
    padding-bottom: 27px;
}

.rent-place-card {
    width: 315px;
    height: 505px;
    margin: 10px;
    padding-bottom: 19px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    background: #fff;
    text-align: center;
    display: inline-block;
}

.rent-place-card-title {

}

.rent-place-card-h2 {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 23px;
    letter-spacing: 0.05em;
    text-align: center;
    color: #000;
    margin-top: 7px;
    margin-bottom: 0;
}

.rent-place-card-pic {
    width: 232px;
    height: 232px;
    margin-top: 5px;
    margin-bottom: 10px;
}

.rent-place-card-status-container {
    width: 315px;
    height: 25px;
    margin-top: 7px;
}

.rent-place-card-status-container.rented {
    background-color: #F2A6A6;
}

.rent-place-card-status-container.not-rented {
    background-color: #D1E8E2;
}

.rent-place-card-status-text {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 16px;
    letter-spacing: 0.05em;
    text-align: center;
    color: #292d32;
}

.rent-place-card-details-grid {
    width: 232px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 20px;
    justify-items: center;
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 16px;
    letter-spacing: 0.05em;
    text-align: center;
    color: #292d32;
    margin-right: auto;
    margin-left: auto;
    margin-top: 15px;
}

.rent-place-card-category {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 16px;
    letter-spacing: 0.05em;
    text-align: center;
    color: #292d32;
}

.rent-place-card-category-text {
    margin-bottom: 10px;
}

.rent-place-card-actions {
}

.rent-place-card-btn-details {
    border: 3px solid #2c3531;
    width: 148px;
    height: 49px;
    background: #116466;
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 15px;
    letter-spacing: 0.05em;
    text-align: center;
    color: #ffcb9a;
}

.rent-place-card-btn {
    border: 3px solid #116466;
    width: 148px;
    height: 49px;
    background: #d1e8e2;
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 15px;
    letter-spacing: 0.05em;
    text-align: center;
    color: #2c3531;
}

.rent-place-card-btn-disabled {
    border: 3px solid #292D32;
    width: 148px;
    height: 49px;
    background: #E8E8E8;
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 15px;
    letter-spacing: 0.05em;
    text-align: center;
    color: #2c3531;
}

.rent-place-card-actions-btn {
    margin-top: 10px;
}

.lk {
    margin-left: 226px;
    margin-right: 226px;
    padding-bottom: 25px;
}

.lk-center {
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 25px;
}

.lk-title-section {
    min-height: 113px;
    width: auto;
    background-color: white;
    background-size: cover;
    padding-top: 48px;
}

/*.lk-title-container {
    margin-left: 226px;
    margin-right: 226px;
}*/

.lk-title-h1 {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 35px;
    letter-spacing: 0.05em;
    color: #2c3531;
}

.lk-title-h1-center {
    text-align: center;
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 35px;
    letter-spacing: 0.05em;
    color: #2c3531;
}

/*.lk-balance-container {
    margin-left: 226px;
    margin-right: 226px;
}*/

.lk-balance {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 25px;
    letter-spacing: 0.05em;
    color: #2c3531;
}

.lk-balance-number {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 25px;
    letter-spacing: 0.05em;
    color: #116466;
}

/*.lk-balance-actions-container {
    margin-left: 226px;
    margin-right: 226px;
}*/

.lk-balance-actions-grid {
    display: grid;
    grid-template-columns: 252px auto;
    grid-column-gap: 19px;
    justify-items: left;
}

.lk-form-container {
    margin-top: 24px;
    margin-bottom: 24px;
}

.lk-form-group-last {
    margin-bottom: 24px;
}

.lk-form-group-prelast {
    margin-bottom: 15px;
}

.lk-form-label-container {
}

.lk-form-label {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 13px;
    letter-spacing: 0.05em;
    color: #2C3531;
}

.lk-form-input {
    font-family: var(--font-family);
    border: 3px solid #116466;
    border-radius: 10px;
    width: 316px;
    height: 49px;
    background: white;
}

.lk-form-input-img {
    font-family: var(--font-family);
    border: 3px solid #116466;
    border-radius: 10px;
    width: 316px;
    height: 49px;
    background: white;

}

.balance-btn-container {
    text-align: center;
}

.lk-subtitle-container {
    margin-top: 20px;
    margin-bottom: 20px;
}

.lk-subtitle-h2 {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 25px;
    letter-spacing: 0.05em;
    color: #2c3531;
}

.lk-table {
    width: 100%;
    margin-bottom: 20px;
    border: 15px solid #D1E8E2;
    border-top: 5px solid #D1E8E2;
    border-collapse: collapse;
}

.lk-table th {
    font-weight: bold;
    padding: 5px;
    background: #D1E8E2;
    border: none;
    border-bottom: 5px solid #D1E8E2;
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 18px;
    letter-spacing: 0.05em;
    color: #2c3531;
}

.lk-table td {
    padding: 5px;
    border: none;
    border-bottom: 5px solid #D1E8E2;
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 16px;
    letter-spacing: 0.05em;
    color: #2c3531;
}

.calendar-text {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 16px;
    letter-spacing: 0.05em;
    color: #2c3531;
    padding: 0;
}

.calendar-input {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 16px;
    letter-spacing: 0.05em;
    color: #2c3531;
    margin-top: 5px;
}

.calendar-cost {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 16px;
    letter-spacing: 0.05em;
    color: #2c3531;
    margin-top: 5px;
    margin-bottom: 5px;
}

.input-box-lk {
    border: 3px solid #116466;
    border-radius: 10px;
    height: 49px;
    background: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.input-box {
    border: 3px solid #116466;
    border-radius: 10px;
    height: 49px;
    width: 316px;
    background: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.cp-form-input {
    border: none;
    height: 40px;
    width: 300px;
    margin-left: 3px;
}

.cp-form-input:focus {
    border: none;
}

.admin-user-btn-grid {
    display: grid;
    grid-template-columns: 252px 252px auto;
    grid-column-gap: 15px;
    justify-items: left;
}

.admin-rent-btn-grid {
    margin-top: 20px;
    display: grid;
    grid-template-columns: 252px 252px auto;
    grid-column-gap: 15px;
    justify-items: left;
}

.admin-place-btn-grid {
    display: grid;
    grid-template-columns: 252px auto;
    grid-column-gap: 15px;
    justify-items: left;
    margin-bottom: 20px;
}

.center-title-h1 {
    text-align: center;
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 35px;
    letter-spacing: 0.05em;
    color: #2c3531;
}

.admin-checkbox-input {

}

.admin-checkbox {
    position: relative;
    margin-bottom: 15px;
}

.admin-checkbox-input {
    position: absolute;
    z-index: -1;
    opacity: 0;
}

.admin-checkbox-input + label {
    user-select: none;
    display: inline-flex;
    align-items: center;
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 13px;
    letter-spacing: 0.05em;
    color: #2c3531;
}

.admin-checkbox-input + label::before {
    content: '';
    display: inline-block;
    flex-shrink: 0;
    flex-grow: 0;
    border: 1px solid #2c3531;
    border-radius: 4px;
    top: 0;
    left: 0;
    width: 24px;
    height: 24px;
    background: #fff;
    margin-right: 0.5em;
    background-repeat: no-repeat;
    background-position: center center;
}

/*стиль при активном чекбоксе*/
.admin-checkbox-input:checked + label::before {
    border-color: #116466;
    background-color: #d1e8e2;
    background-image: url(../img/Entrance/check.svg);
}

/*стиль при наведении курсора на чекбокс*/
.admin-checkbox-input:not(:disabled):not(:checked) + label:hover::before {
    border-color: #116466;
    background-color: #d1e8e2;
}

.file-upload-button {
    align-content: center;
}

#slider { /*положение слайдера*/
    position: relative;
    text-align: center;
    top: 10px;
}

#slider { /*центровка слайдера*/
    margin: 0 auto;
}

#slides article {
    width: 20%;
    float: left;
}

#slider .image {
    width: 50%;
    line-height: 0;
}

#overflow {
    width: 100%;
    overflow: hidden;
}

article img {
    width: 100%;
}

#desktop:checked ~ #slider {
    max-width: 960px;
}

#switch1:checked ~ #controls label:nth-child(3),
#switch2:checked ~ #controls label:nth-child(1),
#switch3:checked ~ #controls label:nth-child(2){
    background: url('../img/Details/prev.svg') no-repeat;
    float: left;
    margin: 0 0 0 -84px;
    display: block;
    height: 68px;
    width: 68px;
}

#switch1:checked ~ #controls label:nth-child(2),
#switch2:checked ~ #controls label:nth-child(3),
#switch3:checked ~ #controls label:nth-child(1) {
    background: url('../img/Details/next.svg') no-repeat;
    float: right;
    margin: 0 -84px 0 0;
    display: block;
    height: 68px;
    width: 68px;
}

label, a {
    cursor: pointer;
}







.dg-large-btn {
    border: 3px solid #2c3531;
    width: 252px;
    height: 49px;
    background: #116466;
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 15px;
    letter-spacing: 0.05em;
    text-align: center;
    color: white;
}

.lg-large-btn {
    border: 3px solid #116466;
    width: 252px;
    height: 49px;
    background: #D1E8E2;
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 15px;
    letter-spacing: 0.05em;
    text-align: center;
    color: #2c3531;
}

.lg-large-btn-a {
    border: 3px solid #116466;
    width: 252px;
    height: 49px;
    background: #D1E8E2;
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 15px;
    letter-spacing: 0.05em;
    text-align: center;
    color: #2c3531;
    text-decoration: none;
}

.lg-small-btn {
    border: 3px solid #116466;
    width: 148px;
    height: 49px;
    background: #D1E8E2;
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 15px;
    letter-spacing: 0.05em;
    text-align: center;
    color: #2c3531;
}

.dg-small-btn {
    border: 3px solid #2c3531;
    width: 148px;
    height: 49px;
    background: #116466;
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 15px;
    letter-spacing: 0.05em;
    text-align: center;
    color: white;
}

.eye-btn {
    width: 24px;
    height: 24px;
    border: none;
    background-image: url('../img/UserProfile/eye-slash.svg');
    background-size: cover;
    cursor: pointer;
    margin-right: 5px;
}

.eye-secondary-btn {
    width: 24px;
    height: 24px;
    border: none;
    background-image: url('../img/UserProfile/eye.svg');
    background-size: cover;
    cursor: pointer;
    margin-right: 5px;
}

.back-btn {
    margin-top: 20px;
}

.back-btn-mb {
    margin-bottom: 20px;
}

.lg-bg {
    background-color: #D1E8E2;
    color: #2c3531;
    border: none;
}

.dg-bg {
    background-color: #116466;
    color: white;
    border: none;
}


.footer-rent {
    min-height: 190px;
    width: 100%;
    background-color: #2C3531;
}

.footer-rent-container {
    margin-left: 226px;
    margin-right: 226px;
}

.footer-rent-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 21px;
    justify-items: center;
    padding-top: 31px;
}

.footer-rent-block {

}

.footer-rent-number {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 21px;
    letter-spacing: 0.05em;
    color: #ffcb9a;
}

.footer-rent-address {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 21px;
    letter-spacing: 0.05em;
    color: #ffcb9a;
}

.footer-rent-email {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 21px;
    letter-spacing: 0.05em;
    text-align: center;
    color: #ffcb9a;
}

.footer-rent-icons {
    margin-top: 44px;
}

.footer-rent-icon {
    width: 40px;
    height: 40px;
}


.footer-a {
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px;
}




@media screen and (max-width: 1806px) {
    /*.contacts-container {
        margin-left: 150px;
    }*/

    .rent-title-container {
        margin-left: 150px;
        margin-right: 150px;
    }

    .rent-filters-container {
        margin-left: 150px;
        margin-right: 150px;
    }

    .rent-container {
        margin-left: 150px;
        margin-right: 150px;
    }

}

@media screen and (max-width: 1400px) {
    .burger {
        display: block;
    }

    .header-rent-nav-container {
        position: fixed;
        right: 0;
        top: 75px;
        z-index: 1000;
        overflow-y: auto;
        background-color: white;
        padding: 30px 0;
        width: 60%;
        max-width: 300px;
        height: calc(100vh - 75px);
        transform: translateX(100%);
        transition: transform 0.6s ease-in-out;
    }

    .nav-visible {
        transform: none;
    }

    .header-rent-list {
        flex-direction: column;
    }

    .header-nav-item {
        width: 100%;
    }

    .header-rent-link {
        text-align: left;
        display: inline-block;
        width: 100%;
        font-size: 25px;
        padding: 20px 30px;
        padding-bottom: 10px;
    }

    .lk {
        margin-left: 150px;
        margin-right: 150px;
    }

}

@media screen and (max-width: 1313px) {
    .rent-title-container {
        margin-left: 70px;
        margin-right: 70px;
    }

    .rent-filters-container {
        margin-left: 70px;
        margin-right: 70px;
    }

    .rent-container {
        margin-left: 70px;
        margin-right: 70px;
    }
}

@media screen and (max-width: 1207px) {
    

    .contacts-container {
        padding-bottom: 20px;
    }

    .rent-list-grid {
        grid-template-columns: 240px auto;
        
    }

    .footer-rent-container {
        margin-left: 150px;
        margin-right: 150px;
    }
}

@media screen and (max-width: 1000px) {
    .contacts-container {
        margin-left: 100px;
        margin-right: 100px;
    }

    .contacts-form-grid {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(2, 1fr);
        padding-bottom: 54px;
        row-gap: 15px;
    }

    /*.rent-title-container {
        margin-left: 100px;
        margin-right: 100px;
    }

    .rent-container {
        margin-left: 100px;
        margin-right: 100px;
    }*/

    .lk {
        margin-left: 100px;
        margin-right: 100px;
    }

    .admin-user-btn-grid {
        grid-template-columns: 252px auto;
        grid-template-rows: repeat(2, 1fr);
        grid-row-gap: 15px;
    }

    .footer-rent-container {
        margin-left: 75px;
        margin-right: 75px;
    }

    .footer-rent-number {
        font-size: 16px;
    }

    .footer-rent-address {
        font-size: 16px;
    }

    .footer-rent-email {
        font-size: 16px;
    }
}

@media screen and (max-width: 830px) {
    .benefits_cards {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
    }

    .contacts-container {
        margin-left: 50px;
        margin-right: 50px;
    }

    .rent-container {
        margin-left: 30px;
        margin-right: 30px;
    }

    .lk {
        margin-left: 50px;
        margin-right: 50px;
    }
}

@media screen and (max-width: 685px) {
    .contacts-container {
        margin-left: 30px;
        margin-right: 30px;
    }

    .contacts-map-size {
        width: 300px;
        height: 250px;
    }
}


@media screen and (max-width: 625px) {
    .benefits_container {
        position: relative;
    }

    .benefits_cards {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(6, 1fr);
    }

    .benefits-new-cards {
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap: 29px;
        justify-items: center;
        padding-top: 35px;
    }

    .benefits-new-card-last {
        grid-column: 1/3;
    }

    .lk {
        margin-left: 20px;
        margin-right: 20px;
    }

    .contacts-container {
        margin-left: 30px;
        margin-right: 30px;
    }

    .contacts-map-size {
        width: 300px;
        height: 250px;
    }
    
}



@media screen and (max-width: 580px) {
    .lk {
        margin-left: 20px;
        margin-right: 20px;
    }

    .lk-balance-actions-grid {
        grid-template-columns: 252px;
        grid-template-rows: repeat(2, 1fr);
        grid-row-gap: 19px;
    }
}

@media screen and (max-width: 550px) {
    .admin-user-btn-grid {
        grid-template-columns: auto;
        grid-template-rows: repeat(3, 1fr);
        grid-row-gap: 15px;
    }

    .admin-rent-btn-grid {
        grid-template-columns: auto;
        grid-template-rows: repeat(2, 1fr);
        grid-row-gap: 15px;
    }

    .admin-place-btn-grid {
        grid-template-columns: auto;
        grid-template-rows: repeat(2, 1fr);
        grid-row-gap: 15px;
    }
}

@media screen and (max-width: 510px) {
    .rent-title-container {
        margin-left: 20px;
        margin-right: 20px;
    }

    .rent-filters-container {
        margin-left: 20px;
        margin-right: 20px;
    }

    .rent-container {
        margin-left: 20px;
        margin-right: 20px;
    }
}

@media screen and (max-width: 475px) {

    .rent-list-h2 {
        text-align: center;
    }

    .rent-list-description {
        text-align: center;
    }

    .rent-list-grid {
        grid-template-columns: auto;
    }

    .rent-title-container {
        margin-left: 20px;
        margin-right: 20px;
    }

    .rent-filters-container {
        margin-left: 20px;
        margin-right: 20px;
    }

    .rent-container {
        margin-left: 20px;
        margin-right: 20px;
    }
}