@using ApplicationRent.Data.Identity
@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationIdentityUser> SignInManager

@{
    ViewData["Title"] = "Home Page";
}

<main class="main">
    <section class="intro">
        <div class="container-a">
            <h1 class="intro_title">
                RENT - Ваш помощник для бизнеса и творчества
            </h1>
            <p class="intro_subtitle">
                Лучшие коммерческие помещения в аренду
            </p>
        </div>
    </section>

    <section class="benefits">
        <div class="benefits_container">
            <h2 class="benefits_title">
                Наши преимущества
            </h2>
            <div class="benefits_cards">
                <div class="benefits_card">
                    <div class="benefits_card-pic">
                        <img src="img/Home/buildings.svg" alt="Большой выбор помещений" class="benefits_card-thumb">
                    </div>
                    <h3 class="benefits_card-title">
                        Большой выбор помещений
                    </h3>
                </div>
                <div class="benefits_card">
                    <div class="benefits_card-pic">
                        <img src="img/Home/location.svg" alt="Удобная локация" class="benefits_card-thumb">
                    </div>
                    <h3 class="benefits_card-title">
                        Удобная локация
                    </h3>
                </div>
                <div class="benefits_card">
                    <div class="benefits_card-pic">
                        <img src="img/Home/edit.svg" alt="Быстрое оформление договоров" class="benefits_card-thumb">
                    </div>
                    <h3 class="benefits_card-title">
                        Быстрое оформление договоров
                    </h3>
                </div>
                <div class="benefits_card">
                    <div class="benefits_card-pic">
                        <img src="img/Home/setting-4.svg" alt="Функциональные фильтры поиска" class="benefits_card-thumb">
                    </div>
                    <h3 class="benefits_card-title">
                        Функциональные фильтры поиска
                    </h3>
                </div>
                <div class="benefits_card">
                    <div class="benefits_card-pic">
                        <img src="img/Home/lamp-on.svg" alt="Наличие дополнительных услуг" class="benefits_card-thumb">
                    </div>
                    <h3 class="benefits_card-title">
                        Наличие дополнительных услуг
                    </h3>
                </div>
                <div class="benefits_card">
                    <div class="benefits_card-pic">
                        <img src="img/Home/category-2.svg" alt="Широкий выбор типов помещений" class="benefits_card-thumb">
                    </div>
                    <h3 class="benefits_card-title">
                        Широкий выбор типов помещений
                    </h3>
                </div>
            </div>
        </div>
    </section>
</main>

@if (SignInManager.IsSignedIn(User))
{
    <span>Зарегистрирован</span>
}
else
{
    <span>Не зарегистрирован</span>
}
