@using ApplicationRent.Data.Identity
@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationIdentityUser> SignInManager

@{
    ViewData["Title"] = "Home Page";
}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<main class="main">

    <div class="intro">
        <div class="container-a">
            <h1 class="intro_title">
                RENT - Ваш помощник для бизнеса и творчества
            </h1>
            <p class="intro_subtitle">
                Лучшие коммерческие помещения в аренду
            </p>
        </div>
    </div>

    <section class="benefits">
         <div class="benefits_container">
            <h2 class="benefits_title">
                Наши преимущества
            </h2>
            <div class="benefits_cards">
                <div class="benefits_card">
                    <div class="benefits_card-pic">
                        <img src="img/Home/buildings.svg" alt="Большой выбор помещений" class="benefits_card-thumb">
                    </div>
                    <h3 class="benefits_card-title">
                        Большой выбор помещений
                    </h3>
                </div>
                <div class="benefits_card">
                    <div class="benefits_card-pic">
                        <img src="img/Home/location.svg" alt="Удобная локация" class="benefits_card-thumb">
                    </div>
                    <h3 class="benefits_card-title">
                        Удобная локация
                    </h3>
                </div>
                <div class="benefits_card">
                    <div class="benefits_card-pic">
                        <img src="img/Home/edit.svg" alt="Быстрое оформление договоров" class="benefits_card-thumb">
                    </div>
                    <h3 class="benefits_card-title">
                        Быстрое оформление договоров
                    </h3>
                </div>
                <div class="benefits_card">
                    <div class="benefits_card-pic">
                        <img src="img/Home/setting-4.svg" alt="Функциональные фильтры поиска" class="benefits_card-thumb">
                    </div>
                    <h3 class="benefits_card-title">
                        Функциональные фильтры поиска
                    </h3>
                </div>
                <div class="benefits_card">
                    <div class="benefits_card-pic">
                        <img src="img/Home/lamp-on.svg" alt="Наличие дополнительных услуг" class="benefits_card-thumb">
                    </div>
                    <h3 class="benefits_card-title">
                        Наличие дополнительных услуг
                    </h3>
                </div>
                <div class="benefits_card">
                    <div class="benefits_card-pic">
                        <img src="img/Home/category-2.svg" alt="Широкий выбор типов помещений" class="benefits_card-thumb">
                    </div>
                    <h3 class="benefits_card-title">
                        Широкий выбор типов помещений
                    </h3>
                </div>
        </div>
    </section>
    <section class="carousel">
        <div class="uk-slider-container-offset" uk-slider="autoplay: true autoplay-interval: 1000 pause-on-hover: true">
            <div class="uk-position-relative uk-visible-toggle uk-light" tabindex="-1">
                <ul class="uk-slider-items uk-child-width-1-3@s uk-grid">
                    <li>
                        <div class="uk-card slider_card">
                            <div class="uk-card-media-top">
                                <img src="~/img/Home/FB2.jpg" width="316" height="235" alt="Слайдер" loading="lazy">
                            </div>
                            <div class="slider_body">
                                <p class="slider_title">Иван</p>
                                <p class="slider_txt">Компания полностью оправдала ожидания! Оформлял договор онлайн, все прошло очень быстро и комфортно!</p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="uk-card slider_card">
                            <div class="uk-card-media-top">
                                <img src="~/img/Home/FB1.jpg" width="316" height="235" alt="Слайдер" loading="lazy">
                            </div>
                            <div class="slider_body">
                                <p class="slider_title">Ольга</p>
                                <p class="slider_txt">Компания полностью оправдала ожидания! Оформлял договор онлайн, все прошло очень быстро и комфортно!</p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="uk-card slider_card">
                            <div class="uk-card-media-top">
                                <img src="~/img/Home/FB3.jpg" width="316" height="235" alt="Слайдер" loading="lazy">
                            </div>
                            <div class="slider_body">
                                <p class="slider_title">Николай</p>
                                <p class="slider_txt">Компания полностью оправдала ожидания! Оформлял договор онлайн, все прошло очень быстро и комфортно!</p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="uk-card slider_card">
                            <div class="uk-card-media-top">
                                <img src="~/img/Home/FB1.jpg" width="316" height="235" alt="Слайдер" loading="lazy">
                            </div>
                            <div class="slider_body">
                                <p class="slider_title">Ирина</p>
                                <p class="slider_txt">Компания полностью оправдала ожидания! Оформлял договор онлайн, все прошло очень быстро и комфортно!</p>
                            </div>
                        </div>
                    </li>
                </ul>
                <a class="uk-position-center-left uk-position-small uk-hidden-hover" href uk-slidenav-previous uk-slider-item="previous"></a>
                <a class="uk-position-center-right uk-position-small uk-hidden-hover" href uk-slidenav-next uk-slider-item="next"></a>
            </div>
            <ul class="uk-slider-nav uk-dotnav uk-flex-center uk-margin"></ul>
        </div>
    </section>
    
   <section class="contacts-form">
        <div class="contacts-form-container">
            <div class="contacts-form-grid">
                <div class="contacts-form-block">
                    <img src="~/img/Contacts\form-pic.jpg" alt="Форма обратной связи" class="contacts-form-pic" />
                </div>
                <div class="contacts-form-block">
                    <h1 class="contacts-form-title">Свяжитесь с нами</h1>
                    <form id="feedbackForm" asp-action="SubmitFeedback" method="post" class="contacts-form-areas">
                        <div asp-validation-summary="ModelOnly"></div>

                        <div class="contacts-form-group">
                            <div class="register-form-label-container">
                                <label class="contacts-form-label">Введите имя</label>
                            </div>
                            <input type="text" id="name" name="Name" placeholder="Имя" required class="contacts-form-input" />
                        </div>

                        <div class="contacts-form-group">
                            <div class="register-form-label-container">
                                <label class="contacts-form-label">Введите Email</label>
                            </div>
                            <input type="email" id="email" name="Email" placeholder="name@example.com" required class="contacts-form-input" />
                        </div>

                        <div class="contacts-form-group">
                            <div class="register-form-label-container">
                                <label class="contacts-form-label">Введите тему сообщения</label>
                            </div>
                            <input type="text" id="subject" name="Subject" placeholder="Тема сообщения" required class="contacts-form-input" />
                        </div>

                        <div class="contacts-form-group">
                            <div class="register-form-label-container">
                                <label class="contacts-form-label">Введите ваше сообщение</label>
                            </div>
                            <textarea id="message" name="Message" placeholder="Сообщение" required class="contacts-form-input-area"></textarea>
                        </div>

                        <input type="hidden" name="Platform" value="Сайт" />

                        <button type="submit" class="contacts-form-btn">Отправить</button>
                    </form>
                </div>
            </div>
        </div>
    </section>

</main>

<script>
    $(document).ready(function () {
        $('#feedbackForm').submit(function (event) {
            event.preventDefault(); // Предотвращение стандартной отправки формы
            var formData = $(this).serialize(); // Сериализация данных формы

            $.ajax({
                type: 'POST',
                url: $(this).attr('action'),
                data: formData,
                success: function (response) {
                    $('.alert').remove(); // Удаление предыдущих уведомлений
                    if (response.success) {
                        $('#feedbackForm').before('<div class="alert alert-success">' + response.message + '</div>'); // Добавление сообщения об успехе
                        $('#feedbackForm').trigger('reset'); // Очистка формы
                    } else {
                        $('#feedbackForm').before('<div class="alert alert-danger">' + response.message + '</div>'); // Добавление сообщения об ошибке
                    }
                }
            });
        });
    });
</script>

@* @if (SignInManager.IsSignedIn(User))
{
    <span>Зарегистрирован</span>
}
else
{
    <span>Не зарегистрирован</span>
} *@
