@using ApplicationRent.Data.Identity
@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationIdentityUser> SignInManager

@{
    ViewData["Title"] = "Home Page";
}

<main class="main">
    <section class="intro">
        <div class="container-a">
            <h1 class="intro_title">
                RENT - Ваш помощник для бизнеса и творчества
            </h1>
            <p class="intro_subtitle">
                Лучшие коммерческие помещения в аренду
            </p>
        </div>
    </section>

    <section class="benefits">
        <div class="benefits_container">
            <h2 class="benefits_title">
                Наши преимущества
            </h2>
            <div class="benefits_cards">
                <div class="benefits_card">
                    <div class="benefits_card-pic">
                        <img src="img/Home/buildings.svg" alt="Большой выбор помещений" class="benefits_card-thumb">
                    </div>
                    <h3 class="benefits_card-title">
                        Большой выбор помещений
                    </h3>
                </div>
                <div class="benefits_card">
                    <div class="benefits_card-pic">
                        <img src="img/Home/location.svg" alt="Удобная локация" class="benefits_card-thumb">
                    </div>
                    <h3 class="benefits_card-title">
                        Удобная локация
                    </h3>
                </div>
                <div class="benefits_card">
                    <div class="benefits_card-pic">
                        <img src="img/Home/edit.svg" alt="Быстрое оформление договоров" class="benefits_card-thumb">
                    </div>
                    <h3 class="benefits_card-title">
                        Быстрое оформление договоров
                    </h3>
                </div>
                <div class="benefits_card">
                    <div class="benefits_card-pic">
                        <img src="img/Home/setting-4.svg" alt="Функциональные фильтры поиска" class="benefits_card-thumb">
                    </div>
                    <h3 class="benefits_card-title">
                        Функциональные фильтры поиска
                    </h3>
                </div>
                <div class="benefits_card">
                    <div class="benefits_card-pic">
                        <img src="img/Home/lamp-on.svg" alt="Наличие дополнительных услуг" class="benefits_card-thumb">
                    </div>
                    <h3 class="benefits_card-title">
                        Наличие дополнительных услуг
                    </h3>
                </div>
                <div class="benefits_card">
                    <div class="benefits_card-pic">
                        <img src="img/Home/category-2.svg" alt="Широкий выбор типов помещений" class="benefits_card-thumb">
                    </div>
                    <h3 class="benefits_card-title">
                        Широкий выбор типов помещений
                    </h3>
                </div>
            </div>
        </div>
    </section>

    <div id="carousel" class="carousel">
        <button class="arrow-prev">
            <img src="img/Home/Arrow_prev.svg" alt="<<">
        </button>
        @* <button class="arrow-prev"><<</button> *@
        <div class="gallery">
            <ul>
                <li><img src="~/img/Home/Feedback-1.jpg" alt="Отзыв" class="carousel-img"></li>
                <li><img src="~/img/Home/Feedback-2.jpg" alt="Отзыв" class="carousel-img"></li>
                <li><img src="~/img/Home/Feedback-3.jpg" alt="Отзыв" class="carousel-img"></li>
                <li><img src="~/img/Home/Feedback-4.jpg" alt="Отзыв" class="carousel-img"></li>
                <li><img src="~/img/Home/Feedback-1.jpg" alt="Отзыв" class="carousel-img"></li>
                <li><img src="~/img/Home/Feedback-2.jpg" alt="Отзыв" class="carousel-img"></li>
                <li><img src="~/img/Home/Feedback-3.jpg" alt="Отзыв" class="carousel-img"></li>
                <li><img src="~/img/Home/Feedback-4.jpg" alt="Отзыв" class="carousel-img"></li>
                <li><img src="~/img/Home/Feedback-1.jpg" alt="Отзыв" class="carousel-img"></li>
            </ul>
        </div>
        @* <button class="arrow-next">>></button> *@
        <button class="arrow-next">
            <img src="img/Home/Arrow_next.svg" alt=">>">
        </button>
    </div>

    <script>
        /* этот код помечает картинки, для удобства разработки */
        let i = 1;
        for (let li of carousel.querySelectorAll('li')) {
            li.style.position = 'relative';
            li.insertAdjacentHTML('beforeend', `<span style="position:absolute;left:0;top:0">${i}</span>`);
            i++;
        }

        /* конфигурация */
        let width = 336; // ширина картинки
        let count = 3; // видимое количество изображений

        let list = carousel.querySelector('ul');
        let listElems = carousel.querySelectorAll('li');

        let position = 0; // положение ленты прокрутки

        carousel.querySelector('.arrow-prev').onclick = function () {
            // сдвиг влево
            position += width * count;
            // последнее передвижение влево может быть не на 3, а на 2 или 1 элемент
            position = Math.min(position, 0)
            list.style.marginLeft = position + 'px';
        };

        carousel.querySelector('.arrow-next').onclick = function () {
            // сдвиг вправо
            position -= width * count;
            // последнее передвижение вправо может быть не на 3, а на 2 или 1 элемент
            position = Math.max(position, -width * (listElems.length - count));
            list.style.marginLeft = position + 'px';
        };
    </script>

</main>

@if (SignInManager.IsSignedIn(User))
{
    <span>Зарегистрирован</span>
}
else
{
    <span>Не зарегистрирован</span>
}
