@{
    ViewData["Title"] = "Аренда";
}
@model ApplicationRent.Data.Identity.Place

<main class="main">
    <style>
        .upload-form {
            display: none;
        }

        .thumbnail {
            display: none;
            margin-top: 10px;
            max-width: 200px;
            max-height: 200px;
        }
    </style>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <h2>Create</h2>

    <form asp-action="Create">
        <div class="form-group">
            <label asp-for="Name" class="control-label">Название</label>
            <input asp-for="Name" class="form-control" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Price" class="control-label">Цена</label>
            <input asp-for="Price" class="form-control" />
            <span asp-validation-for="Price" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="SizePlace" class="control-label">Размер помещения</label>
            <input asp-for="SizePlace" class="form-control" />
            <span asp-validation-for="SizePlace" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Category" class="control-label">Категория</label>
            <select asp-for="Category" class="form-control" asp-items="@(new SelectList(ViewBag.Categories))"></select>
            <span asp-validation-for="Category" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Description" class="control-label">Описание</label>
            <input asp-for="Description" class="form-control" />
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="ImageFileName1" class="control-label">Фото 1</label>
            <input asp-for="ImageFileName1" class="form-control" type="file" id="imageInput1" />
            <span asp-validation-for="ImageFileName1" class="text-danger"></span>
            <img id="thumbnail1" class="thumbnail" src="" alt="Image preview" />
        </div>
        <div class="form-group">
            <label asp-for="ImageFileName2" class="control-label">Фото 2</label>
            <input asp-for="ImageFileName2" class="form-control" type="file" id="imageInput2" />
            <span asp-validation-for="ImageFileName2" class="text-danger"></span>
            <img id="thumbnail2" class="thumbnail" src="" alt="Image preview" />
        </div>
        <div class="form-group">
            <label asp-for="ImageFileName3" class="control-label">Фото 3</label>
            <input asp-for="ImageFileName3" class="form-control" type="file" id="imageInput3" />
            <span asp-validation-for="ImageFileName3" class="text-danger"></span>
            <img id="thumbnail3" class="thumbnail" src="" alt="Image preview" />
        </div>
        <input type="submit" value="Создание" class="btn btn-primary" />
    </form>
    <button type="button" class="btn btn-secondary" onclick="window.location.href='@Url.Action("Index", "Admin")';">Отмена</button>
    <section class="upload-form">
        <div class="upload-form-container">
            <h1 class="upload-form-title">Загрузка фото</h1>
            <form id="uploadForm" asp-action="UploadPhoto" method="post" enctype="multipart/form-data">
                <input type="file" id="photo" name="photo" required />
                <button type="submit" class="upload-form-btn">Загрузить</button>
            </form>
        </div>
    </section>
    <script>
        $(document).ready(function () {
            function readURL(input, thumbnailId) {
                if (input.files && input.files[0]) {
                    var reader = new FileReader();
                    reader.onload = function (e) {
                        var thumbnail = $('#' + thumbnailId);
                        thumbnail.attr('src', e.target.result);
                        thumbnail.show();
                    }
                    reader.readAsDataURL(input.files[0]);
                }
            }

            $('#imageInput1').change(function () {
                readURL(this, 'thumbnail1');
            });

            $('#imageInput2').change(function () {
                readURL(this, 'thumbnail2');
            });

            $('#imageInput3').change(function () {
                readURL(this, 'thumbnail3');
            });

            $("input[type='file']").change(function () {
                var fileInput = document.getElementById('photo');
                fileInput.files = this.files;

                var formData = new FormData(document.getElementById('uploadForm'));

                $.ajax({
                    type: 'POST',
                    url: $('#uploadForm').attr('action'),
                    data: formData,
                    contentType: false,
                    processData: false,
                    success: function (response) {
                        alert('Файл успешно загружен: ' + response.message);
                    },
                    error: function () {
                        alert('Ошибка при загрузке файла.');
                    }
                });
            });

            $('#uploadForm').submit(function (event) {
                event.preventDefault();
            });
        });
    </script>
</main>
