@{
    ViewData["Title"] = "Аренда";
}
@model ApplicationRent.Data.Identity.Place

<main class="main">
    <style>
        .upload-form {
            display: none;
        }
    </style>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <h2>Create</h2>

    <form asp-action="Create">
        <div class="form-group">
            <label asp-for="Name" class="control-label"></label>
            <input asp-for="Name" class="form-control" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Price" class="control-label"></label>
            <input asp-for="Price" class="form-control" />
            <span asp-validation-for="Price" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="SizePlace" class="control-label"></label>
            <input asp-for="SizePlace" class="form-control" />
            <span asp-validation-for="SizePlace" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Category" class="control-label"></label>
            <select asp-for="Category" class="form-control" asp-items="@(new SelectList(ViewBag.Categories))"></select>
            <span asp-validation-for="Category" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Description" class="control-label"></label>
            <input asp-for="Description" class="form-control" />
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="ImageFileName1" class="control-label">Image File 1</label>
            <input asp-for="ImageFileName1" class="form-control" type="file" />
            <span asp-validation-for="ImageFileName1" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="ImageFileName2" class="control-label">Image File 1</label>
            <input asp-for="ImageFileName2" class="form-control" type="file" />
            <span asp-validation-for="ImageFileName2" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="ImageFileName3" class="control-label">Image File 1</label>
            <input asp-for="ImageFileName3" class="form-control" type="file" />
            <span asp-validation-for="ImageFileName3" class="text-danger"></span>
        </div>
        <input type="submit" value="Create" class="btn btn-primary" />
    </form>
    <section class="upload-form">
        <div class="upload-form-container">
            <h1 class="upload-form-title">Загрузка фото</h1>
            <form id="uploadForm" asp-action="UploadPhoto" method="post" enctype="multipart/form-data">
                <input type="file" id="photo" name="photo" required />
                <button type="submit" class="upload-form-btn">Загрузить</button>
            </form>
        </div>
    </section>
    <script>
        $(document).ready(function () {
            // При изменении файла в первой форме
            $("input[type='file']").change(function () {
                // Копирование файла во вторую форму
                var fileInput = document.getElementById('photo');
                fileInput.files = this.files;

                // Создание FormData из второй формы
                var formData = new FormData(document.getElementById('uploadForm'));

                // Отправка FormData через AJAX на сервер
                $.ajax({
                    type: 'POST',
                    url: $('#uploadForm').attr('action'),
                    data: formData,
                    contentType: false,
                    processData: false,
                    success: function (response) {
                        alert('Файл успешно загружен: ' + response.message);
                    },
                    error: function () {
                        alert('Ошибка при загрузке файла.');
                    }
                });
            });

            // Предотвращаем обычную отправку формы
            $('#uploadForm').submit(function (event) {
                event.preventDefault();
            });
        });
    </script>
</main>
