@{
    ViewData["Title"] = "Аренда";
}
@model ApplicationRent.Data.Identity.Place

<h2>Изменение информации о месте</h2>

<form asp-action="Edit">
    <input type="hidden" asp-for="Id" />
    <div class="form-group">
        <label asp-for="Name" class="control-label">Название</label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="StartRent" class="control-label"></label>
        <input asp-for="StartRent" class="form-control" />
        <span asp-validation-for="StartRent" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="EndRent" class="control-label"></label>
        <input asp-for="EndRent" class="form-control" />
        <span asp-validation-for="EndRent" class="text-danger"></span>
    </div>
    <div class="form-group">
        <div class="form-check">
            <input asp-for="InRent" class="form-check-input" />
            <label asp-for="InRent" class="form-check-label">В аренде?</label>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="Price" class="control-label">Цена</label>
        <input asp-for="Price" class="form-control" />
        <span asp-validation-for="Price" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="SizePlace" class="control-label">Размер в м2</label>
        <input asp-for="SizePlace" class="form-control" />
        <span asp-validation-for="SizePlace" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Category" class="control-label">Категория</label>
        <select asp-for="Category" class="form-control" asp-items="@(new SelectList(ViewBag.Categories))"></select>
        <span asp-validation-for="Category" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Description" class="control-label">Описание</label>
        <input asp-for="Description" class="form-control" />
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="ImageUrl1" class="control-label">Image URL 1</label>
        <input asp-for="ImageUrl1" class="form-control" required />
        <span asp-validation-for="ImageUrl1" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="ImageUrl2" class="control-label">Image URL 2</label>
        <input asp-for="ImageUrl2" class="form-control" />
        <span asp-validation-for="ImageUrl2" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="ImageUrl3" class="control-label">Image URL 3</label>
        <input asp-for="ImageUrl3" class="form-control" />
        <span asp-validation-for="ImageUrl3" class="text-danger"></span>
    </div>
    <div class="form-group">
        <input type="submit" value="Сохранить" class="btn btn-primary" />
    </div>
</form>

