@model ChangePasswordViewModel

<main class="main">
    <h2>Изменить пароль</h2>

    @if (TempData["SuccessMessage"] != null)
    {
        <div class="alert alert-success">
            @TempData["SuccessMessage"]
        </div>
    }
    <form asp-action="ChangePassword" method="post">
        <div class="form-group">
            <label asp-for="OldPassword">Текущий пароль</label>
            <input asp-for="OldPassword" class="form-control" />
            <button type="button" onclick="togglePasswordVisibility('OldPassword')">Показать</button>
            <span asp-validation-for="OldPassword" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="NewPassword">Новый пароль</label>
            <input asp-for="NewPassword" class="form-control" />
            <button type="button" onclick="togglePasswordVisibility('NewPassword')">Показать</button>
            <span asp-validation-for="NewPassword" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="ConfirmPassword">Подтвердите новый пароль</label>
            <input asp-for="ConfirmPassword" class="form-control" />
            <button type="button" onclick="togglePasswordVisibility('ConfirmPassword')">Показать</button>
            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
        </div>
        <button type="submit" class="btn btn-primary">Изменить пароль</button>
    </form>

    <script>
        function togglePasswordVisibility(fieldId) {
            var input = document.getElementById(fieldId);
            if (input.type === "password") {
                input.type = "text";
                document.querySelector(`button[onclick="togglePasswordVisibility('${fieldId}')"]`).textContent = "Скрыть";
            } else {
                input.type = "password";
                document.querySelector(`button[onclick="togglePasswordVisibility('${fieldId}')"]`).textContent = "Показать";
            }
        }
    </script>
</main>
