@model ChangePasswordViewModel

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<main class="main lk-center">
    <section class="lk-title-section">
        <div class="lk-title-container">
            <h1 class="lk-title-h1">Изменить пароль</h1>
        </div>
    </section>

    <div id="successMessage" class="alert alert-success" style="display: none;">
        Пароль успешно изменен.
    </div>

    <div class="cp-form-container">
        <form asp-action="ChangePassword" method="post" id="changePasswordForm">
            <div class="lk-form-group balance-btn-container">
                <div class="lk-form-label-container">
                    <label asp-for="OldPassword" class="lk-form-label">Текущий пароль</label>
                </div>
                <div class="input-box">
                    <input asp-for="OldPassword" class="cp-form-input" id="OldPassword" />
                    <button class="eye-btn" type="button" onclick="togglePasswordVisibility('OldPassword')"></button>
                </div>
                <span class="text-danger" id="errorOldPassword"></span>  
            </div>

            <div class="lk-form-group balance-btn-container">
                <div class="lk-form-label-container">
                    <label asp-for="NewPassword" class="lk-form-label">Новый пароль</label>
                </div>
                <div class="input-box">
                    <input asp-for="NewPassword" class="cp-form-input" id="NewPassword" />
                    <button class="eye-btn" type="button" onclick="togglePasswordVisibility('NewPassword')"></button>
                </div>               
                <span class="text-danger" id="errorNewPassword"></span>             
            </div>

            <div class="lk-form-group-last balance-btn-container">
                <div class="lk-form-label-container">
                    <label asp-for="ConfirmPassword" class="lk-form-label">Подтвердите новый пароль</label>
                </div>
                <div class="input-box">
                    <input asp-for="ConfirmPassword" class="cp-form-input" id="ConfirmPassword" />
                    <button class="eye-btn" type="button" onclick="togglePasswordVisibility('ConfirmPassword')"></button>
                </div>               
                <span class="text-danger" id="errorConfirmPassword"></span>               
            </div>
            <div class="balance-btn-container">
                <button type="submit" class="dg-large-btn">Изменить пароль</button>
            </div>
            
        </form>
    </div>
    <div class="balance-btn-container">
        <button type="button" class="lg-small-btn back-btn" onclick="window.location.href='@Url.Action("Index", "UserProfile")';">Назад</button>
    </div> 

    <script>
        function togglePasswordVisibility(fieldId) {
            var input = document.getElementById(fieldId);
            if (input.type === "password") {
                input.type = "text";
                document.querySelector(`button[onclick="togglePasswordVisibility('${fieldId}')"]`).className = "eye-secondary-btn";
            } else {
                input.type = "password";
                document.querySelector(`button[onclick="togglePasswordVisibility('${fieldId}')"]`).className = "eye-btn";
            }
        }
    </script>
    <script>
        $(document).ready(function () {
            $('#changePasswordForm').submit(function (event) {
                event.preventDefault();
                var formData = $(this).serializeArray();
                var hasErrors = false;

                // Очистка предыдущих ошибок
                $('.text-danger').empty();
                $('#successMessage').hide(); // Скрыть предыдущее успешное сообщение

                // Проверка заполненности всех полей
                formData.forEach(function (item) {
                    if (!item.value) {
                        $('#error' + item.name).text('Заполните данное поле');
                        hasErrors = true;
                    }
                });

                // Проверка совпадения паролей
                var newPassword = formData.find(x => x.name === 'NewPassword')?.value;
                var confirmPassword = formData.find(x => x.name === 'ConfirmPassword')?.value;
                if (newPassword && confirmPassword && newPassword !== confirmPassword) {
                    $('#errorNewPassword').text('Пароли не совпадают');
                    $('#errorConfirmPassword').text('Пароли не совпадают');
                    hasErrors = true;
                }

                if (hasErrors) return; // Прерывание, если есть ошибки

                // Отправка данных на сервер
                $.ajax({
                    type: 'POST',
                    url: $(this).attr('action'),
                    data: $.param(formData),
                    success: function (response) {
                        if (response.success) {
                            $('#successMessage').show(); // Показать сообщение об успехе
                            $('#changePasswordForm').trigger('reset'); // Очистка формы
                        } else {
                            response.errors.forEach(function (error) {
                                // Отображение ошибок от сервера
                                $('#error' + error.field).text(error.message);
                            });
                        }
                    },
                    error: function () {
                        alert('Произошла ошибка при отправке формы.');
                    }
                });
            });
        });
    </script>
</main>
