@model IEnumerable<ApplicationRent.Data.Identity.TransactionHistory>
<main class="main lk">
    <section class="lk-title-section">
        <div class="lk-title-container">
            <h1 class="lk-title-h1">История транзакций</h1>
        </div>
    </section>

    <table class="lk-table">
        <thead>
            <tr>
                <th>Дата транзакции</th>
                <th>Сумма</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var transaction in Model)
            {
                <tr>
                    <td>@transaction.TransactionDate.ToString("dd.MM.yyyy HH:mm:ss")</td>
                    <td>@transaction.Amount</td>
                </tr>
            }
        </tbody>
    </table>
    <div class="back-btn">
        <button type="button" class="lg-small-btn" onclick="window.location.href='@Url.Action("Index", "UserProfile")'">Назад</button>
    </div>
</main>
