<main class="main">
    <h2>Обновление профиля</h2>

    <form asp-action="UpdateUserProfile" method="post">
        <div class="form-group">
            <label for="FullNameUser">Полное имя</label>
            <input type="text" class="form-control" id="FullNameUser" name="FullNameUser" value="@Model.FullNameUser" required>
        </div>
        <div class="form-group">
            <label for="PhoneNumber">Телефонный номер</label>
            <input type="tel" class="form-control" id="PhoneNumber" name="PhoneNumber" value="@Model.PhoneNumber" required>
        </div>
        <button type="submit" class="btn btn-primary">Обновить</button>
    </form>
    <a href="@Url.Action("ChangePassword", "UserProfile")" class="btn btn-secondary">Изменить пароль</a>
</main>

