@page
@model LoginModel

@{
    ViewData["Title"] = "Вход";
}

<main class="main">
    <section class="entrance-title-section">
        <div class="entrance-title-container">
            <h1 class="entrance-title-h1">Вход</h1>
        </div>
    </section>
    <section class="entrance-form">
        <div class="entrance-form-container">
            <div class="entrance-form-grid">
                <div class="entrance-form-grid-block">
                    <form id="account" method="post">
                        <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                        <div class="entrance-form-group">
                            <input asp-for="Input.Email" class="entrance-form-input" autocomplete="username" aria-required="true" placeholder="Введите email" />
                            <span asp-validation-for="Input.Email" class="text-danger"></span>
                        </div>

                        <div class="entrance-form-group2">
                            <input asp-for="Input.Password" class="entrance-form-input" autocomplete="current-password" aria-required="true" placeholder="password" />
                            <span asp-validation-for="Input.Password" class="text-danger"></span>
                        </div>

                        <div class="entrance-checkbox">
                            <input type="checkbox" checked id="ent-che" class="entrance-checkbox-input" asp-for="Input.RememberMe " />
                            <label for="ent-che" asp-for="Input.RememberMe">Запомнить?</label>
                        </div>

                        <div>
                            <button id="login-submit" type="submit" class="entrance-form-btn">Войти</button>
                        </div>

                        <div class="forgot-password-container">
                            <a id="forgot-password" class="entrance-forgot-password" asp-page="./ForgotPassword">Забыли пароль?</a>
                        </div>
                    </form>
                </div>
                <div class="entrance-form-grid-block">
                    <h3 class="entrance-ent-to-reg-title">Нет аккаунта?</h3>
                    <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl" class="entrance-form-text">Зарегистрируйтесь</a>
                </div>
            </div>
        </div>
    </section>
</main>

@* <h1>@ViewData["Title"]</h1>
<div class="row">
    <div class="col-md-4">
        <section>
            <form id="account" method="post">
                <hr />
                <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                <div class="form-floating mb-3">
                    <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="name@example.com" />
                    <label asp-for="Input.Email" class="form-label">Email</label>
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <div class="form-floating mb-3">
                    <input asp-for="Input.Password" class="form-control" autocomplete="current-password" aria-required="true" placeholder="password" />
                    <label asp-for="Input.Password" class="form-label">Password</label>
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                <div class="checkbox mb-3">
                    <label asp-for="Input.RememberMe" class="form-label">
                        <input class="form-check-input" asp-for="Input.RememberMe" />
                        Запомнить?
                    </label>
                </div>
                <div>
                    <button id="login-submit" type="submit" class="w-100 btn btn-lg btn-primary">Войти</button>
                </div>
                <div>
                    <p>
                        <a id="forgot-password" asp-page="./ForgotPassword">Forgot your password?</a>
                    </p>
                    <p>
                        <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Перейти на страницу регистрации</a>
                    </p>
                </div>
            </form>
        </section>
    </div>
</div> *@

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
