@{
    ViewData["Title"] = "Услуги";
}

<main class="main">
    <section class="service-title-section">
        <div class="service-title-container">
            <h1 class="service-title-h1">Наши услуги</h1>
        </div>
    </section>

    <section class="add-service"> 
        <div class="add-service-container">
            <div class="add-service-title-block">
                <h2 class="add-service-title">Дополнительные услуги</h2>
            </div>

            <div class="add-service-products">
                <div class="add-service-products-block">
                    <div class="add-service-products-grid">
                        <img src="~/img/Service/service-pic.jpg" alt="Услуги" class="add-service-pic" />
                        <div class="add-service-products-title-grid">
                            <h3 class="add-service-products-title">Фото-студия</h3>
                            <p class="add-service-products-subtitle">Уточняйте при оформлении договора аренды</p>
                        </div>
                        <p class="add-service-products-text">Фото-студия - это пространство, специально оборудованное для проведения фотосъёмок. Наши фото-студии оборудованы фоновыми декорациями различных цветов и текстур, профессиональным освещением, а также различным оборудованием для создания качественных фотографий. Также при оформлении дополнительных опций в студии могут быть установлены специальные фотоаппараты и оборудование для обработки фотографий. Фото-студии предлагают удобные условия для проведения фотосессий, рекламных съёмок, портретной съёмки и других видов фотографии.</p>
                    </div>
                    <div class="add-service-products-grid">
                        <img src="~/img/Service/service-pic.jpg" alt="Услуги" class="add-service-pic" />
                        <div class="add-service-products-title-grid">
                            <h3 class="add-service-products-title">Фото-студия</h3>
                            <p class="add-service-products-subtitle">Уточняйте при оформлении договора аренды</p>
                        </div>
                        <p class="add-service-products-text">Фото-студия - это пространство, специально оборудованное для проведения фотосъёмок. Наши фото-студии оборудованы фоновыми декорациями различных цветов и текстур, профессиональным освещением, а также различным оборудованием для создания качественных фотографий. Также при оформлении дополнительных опций в студии могут быть установлены специальные фотоаппараты и оборудование для обработки фотографий. Фото-студии предлагают удобные условия для проведения фотосессий, рекламных съёмок, портретной съёмки и других видов фотографии.</p>
                    </div>
                    <div class="add-service-products-grid">
                        <img src="~/img/Service/service-pic.jpg" alt="Услуги" class="add-service-pic" />
                        <div class="add-service-products-title-grid">
                            <h3 class="add-service-products-title">Фото-студия</h3>
                            <p class="add-service-products-subtitle">Уточняйте при оформлении договора аренды</p>
                        </div>
                        <p class="add-service-products-text">Фото-студия - это пространство, специально оборудованное для проведения фотосъёмок. Наши фото-студии оборудованы фоновыми декорациями различных цветов и текстур, профессиональным освещением, а также различным оборудованием для создания качественных фотографий. Также при оформлении дополнительных опций в студии могут быть установлены специальные фотоаппараты и оборудование для обработки фотографий. Фото-студии предлагают удобные условия для проведения фотосессий, рекламных съёмок, портретной съёмки и других видов фотографии.</p>
                    </div>
                    <div class="add-service-products-grid">
                        <img src="~/img/Service/service-pic.jpg" alt="Услуги" class="add-service-pic" />
                        <div class="add-service-products-title-grid">
                            <h3 class="add-service-products-title">Фото-студия</h3>
                            <p class="add-service-products-subtitle">Уточняйте при оформлении договора аренды</p>
                        </div>
                        <p class="add-service-products-text">Фото-студия - это пространство, специально оборудованное для проведения фотосъёмок. Наши фото-студии оборудованы фоновыми декорациями различных цветов и текстур, профессиональным освещением, а также различным оборудованием для создания качественных фотографий. Также при оформлении дополнительных опций в студии могут быть установлены специальные фотоаппараты и оборудование для обработки фотографий. Фото-студии предлагают удобные условия для проведения фотосессий, рекламных съёмок, портретной съёмки и других видов фотографии.</p>
                    </div>
                </div>
                    
            </div>
        </div>
    </section>

    <section class="types-service">
        <div class="types-service-container">
            <div class="types-service-title-block">
                <h2 class="types-service-title">Типы помещений</h2>
            </div>

            <div class="types-service-products">
                <div class="types-service-products-block">
                    <div class="types-service-products-grid">
                        <img src="~/img/Service/service-pic.jpg" alt="Услуги" class="types-service-pic" />
                        <div class="types-service-products-title-grid">
                            <h3 class="types-service-products-title">Фото-студия</h3>
                            <button src="#" class="types-service-btn">Арендовать</button>
                        </div>
                        <p class="types-service-products-text">Фото-студия - это пространство, специально оборудованное для проведения фотосъёмок. Наши фото-студии оборудованы фоновыми декорациями различных цветов и текстур, профессиональным освещением, а также различным оборудованием для создания качественных фотографий. Также при оформлении дополнительных опций в студии могут быть установлены специальные фотоаппараты и оборудование для обработки фотографий. Фото-студии предлагают удобные условия для проведения фотосессий, рекламных съёмок, портретной съёмки и других видов фотографии.</p>
                    </div>
                    <div class="types-service-products-grid">
                        <img src="~/img/Service/service-pic.jpg" alt="Услуги" class="types-service-pic" />
                        <div class="types-service-products-title-grid">
                            <h3 class="types-service-products-title">Склад</h3>
                            <button src="#" class="types-service-btn">Арендовать</button>
                        </div>
                        <p class="types-service-products-text">Фото-студия - это пространство, специально оборудованное для проведения фотосъёмок. Наши фото-студии оборудованы фоновыми декорациями различных цветов и текстур, профессиональным освещением, а также различным оборудованием для создания качественных фотографий. Также при оформлении дополнительных опций в студии могут быть установлены специальные фотоаппараты и оборудование для обработки фотографий. Фото-студии предлагают удобные условия для проведения фотосессий, рекламных съёмок, портретной съёмки и других видов фотографии.</p>
                    </div>
                    <div class="types-service-products-grid">
                        <img src="~/img/Service/service-pic.jpg" alt="Услуги" class="types-service-pic" />
                        <div class="types-service-products-title-grid">
                            <h3 class="types-service-products-title">Ворк спейс</h3>
                            <button src="#" class="types-service-btn">Арендовать</button>
                        </div>
                        <p class="types-service-products-text">Фото-студия - это пространство, специально оборудованное для проведения фотосъёмок. Наши фото-студии оборудованы фоновыми декорациями различных цветов и текстур, профессиональным освещением, а также различным оборудованием для создания качественных фотографий. Также при оформлении дополнительных опций в студии могут быть установлены специальные фотоаппараты и оборудование для обработки фотографий. Фото-студии предлагают удобные условия для проведения фотосессий, рекламных съёмок, портретной съёмки и других видов фотографии.</p>
                    </div>
                    <div class="types-service-products-grid">
                        <img src="~/img/Service/service-pic.jpg" alt="Услуги" class="types-service-pic" />
                        <div class="types-service-products-title-grid">
                            <h3 class="types-service-products-title">Пустое помещение</h3>
                            <button src="#" class="types-service-btn">Арендовать</button>
                        </div>
                        <p class="types-service-products-text">Фото-студия - это пространство, специально оборудованное для проведения фотосъёмок. Наши фото-студии оборудованы фоновыми декорациями различных цветов и текстур, профессиональным освещением, а также различным оборудованием для создания качественных фотографий. Также при оформлении дополнительных опций в студии могут быть установлены специальные фотоаппараты и оборудование для обработки фотографий. Фото-студии предлагают удобные условия для проведения фотосессий, рекламных съёмок, портретной съёмки и других видов фотографии.</p>
                    </div>
                    
                </div>

            </div>
        </div>
    </section>
</main>

